<!DOCTYPE html>
<html>
<head>
    <title>Welcome | inspire.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="default.css">

</head>

<body>

    <section class="s1">
        <div class="main-container">
            <div class="navigation-bar">
                <a class="brand" href=""> inspire<span><b>.me</b></span></a>
                <a class="about" href="#about-sec">about</a>
     
            </div>
        </div>
    </section>

    <section class="s5">
        <div class="greeting-section">
            <div class="greeting-body">
                <h4>Scroll through. Get inspired !</h4>
                <h6>For coders. By coders.</h6>

            </div>
        </div>
    </section>

    <section class="s2">
        <div class="card-container">
            <div class="card-wrapper">
                <!--1st card-->
                <div class="motivation-item">
                    <div class="quote-no">
                        <h4>#1</h4>
                    </div>

                    <div class="motivation-item-wrap">
                        <h4 class="quote">Finish what you started<br>Nobody will do it for you.inish what you started<br>Nobody will do it for you</h4>
                    </div>

                    <div class="other-info">
                        <div class="author">
                            <span>brocode</span>
                            <a target="_blank" class="fa fa-instagram" href="#"></a>
                        </div>
                        <span class="resource-date">07-08-2020</span>

                    </div>

                </div>
                <!--2nd card-->
                <div class="motivation-item">
                    <div class="quote-no">
                        <h4>#2</h4>
                    </div>

                    <div class="motivation-item-wrap">
                        <h4 class="quote">Finish what you started<br>Nobody will do it for you.inish what you started<br>Nobody will do it for you</h4>
                    </div>

                    <div class="other-info">
                        <div class="author">
                            <span>brocode</span>
                            <a target="_blank" class="fa fa-instagram" href="#"></a>
                        </div>
                        <span class="resource-date">07-08-2020</span>

                    </div>
                </div>

                <div class="motivation-item">
                    <div class="quote-no">
                        <h4>#3</h4>
                    </div>

                    <div class="motivation-item-wrap">
                        <h4 class="quote">Finish what you started<br>Nobody will do it for you.inish what you started<br>Nobody will do it for you</h4>
                    </div>

                    <div class="other-info">
                        <div class="author">
                            <span>brocode</span>
                            <a target="_blank" class="fa fa-instagram" href="#"></a>
                        </div>
                        <span class="resource-date">07-08-2020</span>

                    </div>

                </div>

                <div class="motivation-item">
                    <div class="quote-no">
                        <h4>#2</h4>
                    </div>

                    <div class="motivation-item-wrap">
                        <h4 class="quote">Finish what you started<br>Nobody will do it for you.inish what you started<br>Nobody will do it for you</h4>
                    </div>

                    <div class="other-info">
                        <div class="author">
                            <span>brocode</span>
                            <a target="_blank" class="fa fa-instagram" href="#"></a>
                        </div>
                        <span class="resource-date">07-08-2020</span>

                    </div>
                </div>

                <div class="motivation-item">
                    <div class="quote-no">
                        <h4>#2</h4>
                    </div>

                    <div class="motivation-item-wrap">
                        <h4 class="quote">Finish what you started<br>Nobody will do it for you.inish what you started<br>Nobody will do it for you</h4>
                    </div>

                    <div class="other-info">
                        <div class="author">
                            <span>brocode</span>
                            <a target="_blank" class="fa fa-instagram" href="#"></a>
                        </div>
                        <span class="resource-date">07-08-2020</span>

                    </div>
                </div>
              
                
            </div>
        </div>

    </section>

    <!-- pagination-->
    <section class="s6">
        <div class="main-container">
            <div class="pagination-block">
                <ul id="number">
                    <li class="page-no"><a href="">1</a></li>
                    <li class="page-no"><a href="">2</a></li>
                </ul>
            </div>

        </div>
    </section>

    <section class="s3">
        <div class="main-container">
            <div class="about-section">
                <h4 class="header" id="about-sec">about</h4>
                <h4 class="faq-question">What is inspire.me ?</h4>
                <p class="faq-answer">There's always a need for motivation. I personally needed it while learning coding, many seek for it. Hence this page was created which comprises of short motivational lines said by other coders out there. </p>
                
                <h4 class="faq-question">Are these some famous motivational quotes ? </h4>
                <p class="faq-answer">One can say that, but no these quotes are purely created by different coders out there, who were once or are a learner, speaking out the bitter truth & motivation related to it in this field </p>

            
            </div>

        </div>
    </section>

    <section class="s4">
        <div class="footer">
            <p class="footer-content">Made with ❤️ by <a target="_blank" href="https://www.instagram.com/brocode.py/">@brocode.py</a></p>
        </div>
        
    </section>

</body>