<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Welcome | inspire.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'default.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    <section class="s1">
        <div class="main-container">
            <div class="navigation-bar">
                <a class="brand" href="{% url 'main:home'%}"> inspire<span><b>.me</b></span></a>
                <a class="about" href="#about-sec">about</a>
                
     
            </div>
        </div>
    </section>

    <section class="s5">
        <div class="greeting-section">
            <div class="greeting-body">
                <h4>Scroll through. Get inspired !</h4>
                <h6>For coders. By coders.</h6>

            </div>
        </div>
    </section>

    <section class="s2">
        <div class="card-container">
            <div class="card-wrapper">
                <!--1st card-->
                {% for quote in page_obj %}
                    <div class="motivation-item">
                        <div class="quote-no">
                            <h4>#{{quote.index_no}}</h4>
                        </div>

                        <div class="motivation-item-wrap">
                            <h4 class="quote">{{quote.content}}</h4>
                        </div>

                        <div class="other-info">
                            <div class="author">
                                <span>{{quote.said_by}}</span>
                                <a target="_blank" id="insta" class="fa fa-instagram" href={{quote.insta_link}}></a>
                            </div>
                            <span class="resource-date">{{quote.date_created}}</span>

                        </div>

                    </div>
                {% endfor %}
              
                
            </div>
        </div>

    </section>

    <!-- pagination-->
    <section class="s6">
        <div class="main-container">
            <div class="pagination-block">
                <ul id="number">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                    {% endif %}

                    <span class="current">
                        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    
                    {% if page_obj.has_next %}
                        <li><a href="?page={{page_obj.next_page_number}}">&gt;</a> </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </section>

    <section class="s3">
        <div class="main-container">
            <div class="about-section">
                <h4 class="header" id="about-sec">about</h4>
                <h4 class="faq-question">What is inspire.me ?</h4>
                <p class="faq-answer">There's always a need for motivation. I personally needed it while learning coding, many seek for it. Hence this page was created which comprises of short motivational lines said by other coders out there. </p>
                
                <h4 class="faq-question">Are these some famous motivational quotes ? </h4>
                <p class="faq-answer">One can say that, but no these quotes are purely said by different coders out there, who were once or are a learner, speaking out the bitter truth & motivation related to it in this field </p>
                
                <h4 class="faq-question">How does this newsletter works ? </h4>
                <p class="faq-answer">Everytime a new quote or saying is uploaded, all subscribed users will receive an update of that quote via mail provided. </p>
            
            </div>

        </div>
    </section>

    <section class="s7"> 
        <div class="mail-wrapper">
        
            <form action="{% url 'main:add-email' %}" method="POST" class="sub-form" id="email-form">
                {% csrf_token %}
                
                <div class="subscribe-wrapper">    
                    <h4>Subscribe to my newsletter</h4>
                    <input type="email" id="email-field" name="email" class="subscribe-input" placeholder="Your email" required >
                    <div class="submit-btn">
                        <input type="submit" value="SUBMIT" class="submit-click"> 
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert">
                        <p style="font-family: 'Quicksand', sans-serif;">{{message}}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                
            </form>
            
        </div>
    </section>

    <section class="s4">
        <div class="footer">
            <p class="footer-content">Made with ❤️ by <a target="_blank" href="https://www.instagram.com/brocode.py/">@brocode.py</a></p>
        </div>
        
    </section>


    <!--ajax goes here-->
    

    <script>
        /* ajax for email verification */
        $('#email-field').change(function(){
            var email = $(this).val();
        
            $.ajax({
                type: "GET",
                url: "{% url 'main:validate_email' %}",
                data : {
                    'entered_email': email
                },
                dataType: 'json',
                success: function (data){
                    if (data['is_taken']){
                        $('#email-field').val("Already exists");
                        $('#email-field').css('background-color', '#FF0000');
                    }
                }

            });

        });

    </script>
        
    <script type="text/javascript">
        $('#email-form').submit(function(e){
            e.preventDefault();

            /* here 'this' refers to the element that received the event ie #email-form*/
            var slug = $(this).attr('action');
            var email_val = $('.subscribe-input').val();

            $.ajax({
                type: "POST",
                url: slug,
                data: {'email_val': email_val, csrfmiddlewaretoken:'{{ csrf_token }}'},

                success: function(data){
                    if (data['status']){
                        alert('Thanks for joining');
                        $('#email-field').val('');
                    }

                    else{
                        alert('Invalid');
                    }
                }
            });

        });

    </script>

</body>